body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f2f2f2;
    padding: 30px;
}

.pantalla {
    max-width: 400px;
    margin: auto;
}

button {
    width: 80%;
    padding: 12px;
    margin: 10px 0;
    font-size: 17px;
    background: #4CAF50;
    border: none;
    color: white;
    border-radius: 8px;
}

button:hover {
    background: #45a049;
}

.oculto {
    display: none;
}

#opciones {
    text-align: left;
    padding: 10px;
}
